<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd"
       default-lazy-init="true">

	<bean id="dynamicQueryBuilder" class="com.example.framework.service.DynamicQueryBuilderImpl">
		<property name="fileNames">
			<list>
				<value>classpath:/query/*.xml</value>
			</list>
		</property>
	</bean>

	<!--<bean id="sessionFactory"
		  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle10gDialect
				</prop>
			</props>
		</property>
	</bean>

	<bean id="baseHibernate4DaoPlus" class="com.insaic.rescue.dao.BaseHibernate4DaoPlus" abstract="true">
		<property name="dynamicQueryBuilder" ref="dynamicQueryBuilder"/>
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>-->

	<bean id="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="freemarkerVariables">
			<map>
				<!--<entry key="sql_sanitize">
					<bean class="com.insaic.rescue.framework.DynamicQueryStatementResolver"/>
				</entry>
				<entry key="fragment">
					<bean class="com.insaic.rescue.framework.DynamicQueryBuilderImpl">
						<property name="queryBuilder" ref="queryBuilder"/>
					</bean>
				</entry>-->
				<entry key="validFlagYes">
					<util:constant static-field="com.insaic.common.constants.CodeConstants.YES_STR"/>
				</entry>
				<entry key="validFlagNo">
					<util:constant static-field="com.insaic.common.constants.CodeConstants.NO_STR"/>
				</entry>
				<entry key="validFlag">
					<util:constant static-field="com.insaic.common.constants.CodeConstants.VALID"/>
				</entry>
			</map>
		</property>
		<property name="templateLoaderPath" value="classpath:/template/ftl/"/>
		<property name="preferFileSystemAccess" value="false"/>
		<property name="freemarkerSettings">
			<props>
				<prop key="template_exception_handler">rethrow</prop>
				<!-- ignore,debug,html_debug,rethrow -->
				<prop key="default_encoding">UTF-8</prop>
				<prop key="output_encoding">UTF-8</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<!-- 可以满足一般需要。默认情况变量为null则替换为空字符串，如果需要自定义，写上${empty!"EmptyValue of fbysss"}的形式即可  -->
				<prop key="classic_compatible">true</prop>
			</props>
		</property>
	</bean>

	<bean id="queryBuilder" class="com.example.framework.service.QueryBuilderImpl"
		  init-method="initialize" destroy-method="destroy">
		<property name="configLocations">
			<list>
				<value>classpath:/query/query-rescue.xml</value>
			</list>
		</property>
		<!--<property name="resourceMappingService" ref="resourceMappingService"/>-->
		<!--<property name="devMode" value="${pub.queryBuilder.devMode}"/>
		<property name="nativeSqlReturnMap" value="true"/>-->
	</bean>
</beans>